$breakpoint-tablet: 768px;

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    margin: auto;
    max-width: 360px;
  }  

  @media (min-width: $breakpoint-tablet) {
    .modal-content {
      max-width: none;
      width: 480px;
    }
  }

  .modal-content-mobile {
    width: 100%;
    height: 50%;
    bottom: 0;
    position: fixed;
  }
}
