.pagination {
  .pagination-btn {
    box-sizing: border-box;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    border-radius: 50%;
    background-color: white;
    margin: 0 0.1em;
    transition: background-color .3s;
  }
  .pagination-btn.active {
    background-color: #4CAF50;
    color: white;
  }
}