$breakpoint-mobile: 320px;
$s-spacing: 8px;
$m-spacing: 16px;

.video-list-item {
  width: $breakpoint-mobile;
  margin: $m-spacing auto;
  text-decoration: none;
  color: black;

  .video-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
